<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>Error!</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <main class="error-container">
    
    <div class="error-box">
      <h1 class="error-item"><%= errorMsg %></h1>
      <a href="/" class="error-item">Return</a>
    </div>
    
  </main>
  
</body>
</html>