<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Url Index</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <section class="page">
    <section class="url">
      <div class="column shortUrl">
        <div class="row">
          <h3>Short Url</h3>
        </div>
      </div>
      
      <div class="column fullUrl">
        <div class="row">
          <h3>Full Url</h3>
        </div>
      </div>
      
      <div class="column redirects">
        <div class="row">
          <h3>Redirects</h3>
        </div>
      </div>
      
      <div class="column unique">
        <div class="row">
          <h3>Users</h3>
        </div>
      </div>
      
      <div class="column edit">
        <div class="row">
          <h3>Edit/Delete</h3>
        </div>
      </div>
    </section>
  </section>
    

  <% for (const key in urls) { %>
    <h1><%= key %></h1>
  <% } %>
  
</body>
</html>