<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Url Index</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <%= urls %>

  

  <% for (const key in urls) { %>
    <h1><%= key %></h1>
  <% } %>
  
</body>
</html>