<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Login</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <main>
    <form method="POST" action="/login">
      <label for="username">Username/Email:</label>
      <input type="text" name="username">   
      <label for="password">Password:</label>
      <input type="password" name="password">
      <button type="submit">Login</button>
    </form>
  </main>

  <div class="flexbox-container">

    <div class="flexbox-item a">
    </div>

    <div class="flexbox-item b">
    </div>

    <div class="flexbox-item c">
    </div>

  </div>
  

</body>
</html>