/* special-elite-regular - latin */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: url('/font/special_elite/special-elite-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/font/special_elite/special-elite-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/special_elite/special-elite-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/font/special_elite/special-elite-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/font/special_elite/special-elite-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/font/special_elite/special-elite-v18-latin-regular.svg#SpecialElite') format('svg'); /* Legacy iOS */
}
html {
  font-family: 'Special Elite';
  width: 100%;
}


.flexbox-container {
  display: flex;
}
.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
.flexbox-item.a {
  min-height: 100px;
}
.flexbox-item.b {
  min-height: 200px;
}
.flexbox-item.c {
  min-height:300px;
}