<header>
  <div>
    <h1>TinyApp</h1>
    <a href="/urls">Urls</a>
    <a href="/urls/new">New Url</a>
  </div>
  <div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <form method="POST" action="/logout?_method=DELETE">
      <button type="submit">logout</button>
    </form>
  </div>
</header>