<header>
  <div>
    <h1>TinyApp</h1>
    <% if (user) { %>
      <a href="/urls">Urls</a>
      <a href="/urls/new">New Url</a>
    <% } %>
  </div>
  <div>
    <% if (user) { %>
      <span>
        <%= user.email %> logged in
      </span>
      <form method="POST" action="/logout?_method=DELETE">
        <button type="submit">logout</button>
      </form>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</header>